@use "sass:map";
@import "../../styles/variables";
@import "../../styles/__breakpoints";

.home__page {
  &--container {
    display: grid;
    grid-template-columns: 15% 30% 50%;
    grid-gap: 20px;
    padding: 5vh 2%;
    background-color: $secondary_color;
    // height: 100vh;
  }
}
